@use '../../styles/index.scss' as utils;

.registrationPanel {
    @include utils.display_flex(column, center, space-around);
    gap: 2rem;
    height: 80vh;
    height: 80dvh;
    padding: 1rem 2rem;

    &__heading {
        text-align: center;
    }

    &__redirectLogin {
        a {
            color: utils.$accent-color;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
