@use '../../styles/index.scss' as utils;
.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: utils.$background-color;
    animation: loader 0.5s ease-in infinite;
    display: flex;
    gap: 10px;
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;
        background-color: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }
    &::after {
        left: 100%;
        animation-delay: 0.1s;
    }
    &::before {
        left: -100%;
        animation-delay: 0.3s;
    }
}

@keyframes loader {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(45%);
    }
}
