// color palette
$primary-color: #0f425b;
$primary-color--light: #76cdf8;
$secondary-color: #ffcca3;
$background-color: #f2f2f2;
$text-color: #333333;
$accent-color: #e76f51;
$accent-color--darker: #af533c;
$highlight-color: #ffd700;
$neutral-color: #ffffff;
$border-color: #cccccc;

// status colors:
$error-color: #e63946;
$success-color: #4caf50;

// font size
$text-size-caption: 0.75rem;
$text-size-button: 1.025rem;
$text-size-body: 1rem;
$text-size-head6: 1.188rem;
$text-size-head5: 1.438rem;
$text-size-head4: 2.063rem;
$text-size-head3: 2.938rem;
$text-size-head2: 3.225rem;
$text-size-head1: 4.513rem;

// font weights
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-semibold: 700;
$font-weight-bold: 800;
