@use '../../styles/index.scss' as utils;

.registrationPanel {
    @include utils.display_flex(column, center, space-between);
    gap: 2rem;
    height: 80vh;
    height: 80dvh;
    padding: 0 2rem;

    &__heading {
        text-align: center;
    }

    &__redirectLogin {
        text-align: center;
        a {
            color: utils.$accent-color;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            &:focus-visible {
                outline: utils.$secondary-color solid 0.288rem;
                border-radius: 0.188rem;
            }
        }
    }
}
