// color palette
$primary-color: #3d84a8;
$secondary-color: #F4A261;
$background-color: #F2F2F2;
$text-color: #333333;
$accent-color: #E76F51;
$highlight-color: #FFD700;
$neutral-color: #FFFFFF;
$border-color: #CCCCCC;


// status colors: 
$error-color: #E63946;
$success-color: #4CAF50;