@use '../../../styles/index.scss' as utils;

.navlink {
    width: 100%;

    color: utils.$neutral-color;
    text-align: center;
    font-size: utils.$text-size-head4;
    font-weight: utils.$font-weight-normal;
    transition: 0.3s ease-in-out;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        color: utils.$secondary-color--light;
        background-color: utils.$primary-color--light;
        border-radius: 0.75rem;

        a.active {
            color: utils.$secondary-color--light;
        }
    }

    a {
        @include utils.display_flex(row, center, center);
    }

    a.active {
        color: utils.$accent-color;
    }

    @media screen and (min-width: 768px) {
        font-size: utils.$text-size-head5;
        text-align: left;

        a {
            justify-content: flex-start;
        }
    }
}
