@use '../../styles/index.scss' as utils;

.hamburger {
    @include utils.display_flex(row, center, flex-start);

    height: 10vh;
    height: 10svh;
    width: fit-content;

    padding: 1rem;
    font-size: utils.$text-size-head3;
    color: utils.$secondary-color;

    & > svg {
        cursor: pointer;
        width: 3rem;
        height: auto;
        animation: fade 0.125s ease-in forwards;
    }

    &--active {
        & > svg {
            transition: transform 0.3s ease-in;
        }
    }

    &--active:hover {
        & > svg {
            transform: rotate(45deg);
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
